\frame{
\frametitle{People who support this project}
\begin{itemize}

\item The people on this page have added their signatures through the gitlab interface. 
\end{itemize}
\vspace{3mm}
\begin{columns}
\column{0.5\textwidth}
\begin{itemize}
\item Sebastian Neubert
\item Tim Head
\item Igor Babuschkin
\item Albert Puig
\item Alex Pearce
\item <insert your name here>
\end{itemize}
\column{0.5\textwidth}
\end{columns}
This presentation was compiled on the CI system described here from\\
{tiny \url{ {{url}}/commits/{{rev}} } on branch {{branch}} }
}
